.tips {
  margin-top: -80px;
  border-radius: 4px;
  padding: 20px;
  width: 280px;
  color: #ddd;
  background: var(--primary-bg-color);
}

.tips-category {
  margin-bottom: 8px;
  color: #fff;
}

.tips-detail {
  margin-bottom: 8px;
}

.tips-holiday {
  font-size: 13px;
}

.tips-table {
  width: 100%;
}

.tips-date {
  text-align: left;
}

.tips-code {
  text-align: left;
}

.tips-amount {
  text-align: right;
}
