.avatar {
  display: flex;
  border-radius: var(--avatar-size, 32px);
  width: var(--avatar-size, 32px);
  height: var(--avatar-size, 32px);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: calc(var(--avatar-size, 32px) * 0.75);
  font-weight: bold;
  background-color: var(--avatar-bg-color);
  line-height: var(--avatar-size, 32px);
}
