@import '~@/assets/style/theme.styl'

genProgress($size = 4px, $primaryColor, $trackColor = #bbb, $loadedColor = #ddd, $curColor = #fff)
  $radius = $size * 3
  $trackHeight = $size * 2
  $overHot = $size * 8
  $curWidth = $size * 4
  $curBorderWidth = $size
  $curOverflow = ($curWidth - $trackHeight) * 0.5

  .track
    position relative
    border-radius $radius
    width 100%
    height $size
    background $trackColor
  
    .pointer
      position absolute
      top 0
      left 0
      border-radius $radius
      width 0
      height 100%
      translate width linest 1s

      &.loaded
        background $loadedColor

      &.played
        transform translateZ(1)
        background $primaryColor

    .track__inner
      display none
      position relative
      top 0
      left 0
      width 100%
      height 100%
      transform translateZ(2)

      .current
        position absolute
        top 0 - $curOverflow
        transform translateX(-50%)
        border $size solid $curColor
        border-radius $curWidth
        width $curWidth
        height $curWidth
        background $primary-color

        &::before, &::after
          content ''
          display block
          width $overHot
          height $curWidth

        &::before
          transform translate(0 - $overHot - $curWidth / 2, 0 - $curBorderWidth)

        &::after
          transform translate($curWidth - $curBorderWidth * 2 - $curWidth / 2, 0 - $curWidth - $curBorderWidth)

  .info
    display flex
    margin-top $curOverflow + $size
    justify-content space-between
    color $loadedColor
    font-size 12px
    line-height 16px

  &:hover
    .track
      height $trackHeight

      .pointer.played
        border-radius $radius 0 0 $radius

      .track__inner
        display block

    .info
      margin-top $curOverflow


.progress
  genProgress(4px,  $primary-color, #bbb, #ddd, #fff)
