.header {
  --avatar-size: 32px;
  --avatar-bg-color: #37abe7;
  display: flex;
  box-sizing: border-box;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: var(--primary-bg-color);

  .user {
    display: flex;
    align-items: center;
  }

  .nick-name {
    margin-left: 4px;
    color: #fff;
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  :global(.some-button) {
    display: flex;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  .btn-bell .icon {
    width: 16px;
    height: 16px;
    fill: #ddd;
  }

  .btn-menu:global(.some-button) {
    padding: 0 !important;

    .icon {
      width: 20px;
      height: 20px;
      fill: #eee;
    }
  }
}
