.pan-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  min-width: 320px;
  padding: 0 12px;
}

.pan-set {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
