.pan-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  min-width: 320px;
  padding: 0 12px 12px;
  font-size: 14px;
}

.pan-view-left {
  display: flex;
  flex-direction: column;
}

.pan-view-title {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
}

.pan-view-table {
  width: 100%;
  border-collapse: collapse;
  line-height: 20px;
}

.pan-view-td {
  text-align: right;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

.pan-set {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
